/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
 */

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(21, 91%, 17%);
  --clr-primary-2: hsl(21, 84%, 25%);
  --clr-primary-3: hsl(21, 81%, 29%);
  --clr-primary-4: hsl(21, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(21, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(21, 57%, 50%);
  --clr-primary-7: hsl(21, 65%, 59%);
  --clr-primary-8: hsl(21, 80%, 74%);
  --clr-primary-9: hsl(21, 94%, 87%);
  --clr-primary-10: hsl(21, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: #102a42;
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --clr-yellow: rgb(250, 250, 76);

  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  background: var(--clr-white);
  color: var(--clr-grey-2);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.img {
  width: 100%;
  display: block;
}

/*
=================
Navigation
=================
*/

.nav-center {
  margin-bottom: 5rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: rgb(93, 112, 43);
  border-left: solid 1px var(--clr-grey-8);
  padding: 0 1.5rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.nav-link:hover,
.nav-icon:hover {
  color: rgb(249, 180, 107);
}

.border-right {
  border-right: solid 1px var(--clr-grey-8);
}

/*
============================================= 
Header
=============================================
*/

.header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8e2d3+0,e8e2d3+16,e8e2d3+41,e5a612+65,93ad1f+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8e2d3+0,e8e2d3+14,e5a612+48,93ad1f+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e8e2d3+0,e5a612+33,e8e2d3+69,93ad1f+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e5b516+16,e5a612+38,e8e2d3+69,89ad1f+95 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e2d29a+16,e2bf6c+38,e8e2d3+69,97aa5d+95 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e2d29a+16,e09f06+38,e8e2d3+69,849636+95 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e2d29a+16,e09f06+38,ceaa27+54,e8e2d3+69,849636+95 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e0d7ba+17,e09f06+38,ccbb80+52,e8e2d3+77,849636+99 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e8e2d3+0,e0d7ba+24,ccbb80+46,97aa6b+71,849636+99 */
  background: linear-gradient(
    45deg,
    #f7f2e1 0%,
    #e8e2d3 0%,
    #e0d7ba 24%,
    #ccbb80 46%,
    #97aa6b 71%,
    #849636 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.div__titulo {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__h1 {
  color: rgb(8, 8, 8);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 5rem;
}
.header__h2 {
  margin-top: 3rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 1rem;
}
.header__h3 {
  margin-top: 1rem;
  color: rgb(31, 31, 31);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-bottom: 1rem;
}
.div__secundario {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  width: 70vw;
  align-items: center;
  justify-content: center;
}
.header__img {
  width: 30%;

  border-radius: 55px;
}
#div__h3 {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0rem;
}

@media screen and (max-width: 1700px) {
}

@media screen and (max-width: 1400px) {
  .header__h1 {
    font-size: 5rem;
  }

  .header__img {
    width: 30%;
    margin-right: 5rem;
    border-radius: 55px;
  }
  #div__h3 {
    padding: 1rem 0rem;
  }
}

@media screen and (max-width: 1200px) {
  .header__h1 {
    font-size: 4rem;
    display: block;
    text-align: center;
    line-height: 70px;
  }
  .div__titulo {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .div__secundario {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__img {
    width: 70%;
  }
  #div__h3 {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0rem;
  }
  .header__h3 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    min-height: 60vh;
  }
  .header__h1 {
    font-size: 4rem;
    display: block;
    text-align: center;
    line-height: 70px;
  }
  .div__titulo {
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: center;
  }

  .div__secundario {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__img {
    width: 80%;
    margin: 0;
  }
  #div__h3 {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0rem;
  }
  .header__h3 {
    font-size: 2rem;
    text-align: center;
  }
  .nav-link {
    color: rgb(249, 250, 248);
    border-left: solid 1px var(--clr-grey-8);
    padding: 0 1.5rem;
    font-weight: 700;
    font-size: 2.2rem;
  }
}

/*
============================================= 
Sobre
=============================================
*/

.sobre {
  background-color: #fcf8f3;
  display: flex;
  flex-direction: column;
  /*  justify-content: center; */
  align-items: center;
}

#metodologia {
  color: rgb(6, 6, 6);
  line-height: 80px;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 6rem;
  margin: 5rem 0 2rem 0;
}
.sobre__inferior {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  width: 60%;
  height: 50vh;
}

.sobre__descricao {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  overflow-y: scroll;
  background-color: #fbf1e3;
}
@media screen and (max-width: 1700px) {
}
@media screen and (max-width: 1500px) {
  .sobre__descricao {
    padding: 3rem;
  }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
  #metodologia {
    font-size: 4rem;
  }
  .sobre {
    padding: 0;
  }
  .sobre__inferior {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .sobre__descricao {
    padding: 1.5rem;
  }
  .sobre__descricao p {
    font-size: 1rem;
  }
}

/*
=============== 
SLIDER SMILGA
===============
*/
.slider {
  margin: 0 auto;
  background-color: #f1e7da;
  text-align: center;
  padding: 1rem 0;
  /* set relative for buttons */
  position: relative;
  /* display: flex; */
}

.slider__titulo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6rem;
  margin: 5rem auto;
  color: rgb(30, 29, 29);
}
.slide {
  padding: 2rem 3rem 0 3rem;
  background-color: #f2dfc3;
  border-radius: 10px;
  margin: 1rem;
  width: 20%;
}
.slide-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem 5rem;
  flex-wrap: wrap;
}
.img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  background: #d77206;
  padding: 0.25rem;
  border-radius: 50%;
  box-shadow: var(--dark-shadow);
  margin: 0 auto;
}
h4 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  margin: 2rem 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.title {
  letter-spacing: 2px;
  text-transform: capitalize;
}
.text {
  color: var(--clr-grey-5);
  line-height: 0.5;
  max-width: 35em;
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 1rem;
}

.slider__lattes p {
  font-size: 1rem;
  margin-top: 2rem;
  color: var(--clr-primary-5);
}

@media screen and (max-width: 1500px) {
  .slide {
    padding: 2rem 2rem 0 2rem;
    margin: 1rem;
    width: 30%;
  }
}
@media screen and (max-width: 1200px) {
  .slide {
    padding: 2rem 2rem 0 2rem;
    margin: 1rem;
    width: 40%;
  }
}
@media screen and (max-width: 900px) {
  .slider__titulo h2 {
    font-size: 4.5rem;
  }
  .slide {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .slider__titulo h2 {
    font-size: 3.5rem;
  }
  .slide {
    padding: 2rem 2rem 0 2rem;
    margin: 1rem;
    width: 100%;
  }
  .slide-container {
    margin: 2rem;
  }
}
/*
=============== 
Organização
===============
*/

.org {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e0d7ba+16,7e9915+36,ccbb80+58,e8e2d3+72,849636+99 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e8e2d3+0,e0d7ba+19,7e9915+41,7e9915+41,ccbb80+74,849636+99 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e8e2d3+0,e0d7ba+19,7e9915+41,7e9915+41,ccbb80+74,849636+99 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7f2e1+0,e8e2d3+0,e0d7ba+27,ccbb80+53,97aa6b+77,849636+99 */
  background: linear-gradient(
    135deg,
    #f7f2e1 0%,
    #e8e2d3 0%,
    #e0d7ba 27%,
    #ccbb80 53%,
    #97aa6b 77%,
    #849636 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#org__h1 {
  margin: 10rem 0;
  color: black;
}
.icons {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
  /* border: solid black 1px; */
}
.div__icons {
  height: 20vh;
  /* border: solid black 1px; */
  display: flex;
  margin: 0 2rem;
}
#caiapi {
  margin-left: 2rem;
}

/* @media screen and (max-width: 1700px) {
  #org__h1 {
    margin: 5rem 0;
  }
  .icons {
    display: flex;
    flex-direction: row;
    width: 90vw;
    justify-content: center;
  }
  .div__icons {
    width: 20vw;
    height: 30vh;
    margin: 1rem;
  }

  #ceape {
    width: 80%;
  }
  #fe {
    width: 35%;
  }
  #caiapi {
    width: 50%;
    margin-left: -5rem;
  }
} */

/* @media screen and (max-width: 1200px) {
  .icons {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .div__icons {
    width: 20vw;
    height: 30vh;
    margin: 1rem;
    margin-left: 7rem;
  }

  #ceape {
    width: 100%;
  }
  #fe {
    width: 55%;
  }
  #caiapi {
    width: 70%;
    margin-left: -3rem;
  }
} */
@media screen and (max-width: 1050px) {
  .org {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #org__h1 {
    margin: 10rem auto;
    font-size: 5rem;
  }
  .icons {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .div__icons {
    display: block;
    margin: 0 auto;
    margin-bottom: 0rem;
    width: 100%;
    height: 40vh;
  }

  #ceape {
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  #fe {
    width: 25%;
    display: block;
    margin: 0 auto;
  }
  #caiapi {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .div__icons {
    margin: 0 auto;
  }
}

/*
=============== 
PROJETOS
===============
*/

.body__projetos {
  /* padding: 0rem 15rem; */
}

.projetos {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(242, 192, 136);
  background-color: rgb(252, 249, 244);
}

.autor {
  background-color: rgb(250, 249, 246);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dados {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resumo {
  width: 50vw;
  padding: 2rem;
}

.nome {
  color: rgb(255, 111, 0);
  font-weight: 700;
  font-size: 2.2rem;
}

.lattes {
  font-size: 1rem;
  font-style: italic;
}

.titulo {
  margin-top: 5rem;
  margin-bottom: -1rem;
  color: rgb(46, 46, 46);
  font-size: 1.7rem;
  font-weight: 600;
}
/*
=============== 
Modal
===============
*/
.modal {
  display: none;
}
